/* 
    Created on : 3 feb 2023, 17:47:52
    Author     : Cristofer
*/
body{
    
    background-image: url(https://www.eltiempo.com/files/article_main/uploads/2022/11/22/637d7161378f8.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
}



.certificados {
    margin-top: 100px;
    display: flex;
    background-color: blueviolet;
    padding: 25px;
    color: #ffffff;
}

.text{
    padding-left: 25px;
}